$unchecked-color: #9ABBCE;
$checked-color: #2196F3;
$background-color: #F1FCFF;
$screen-phone: 420px;
$screen-tablet: 1120px;

.filters{
  position: absolute;
  left: -252px;
  width: 232px;
  height: 252px;
  padding-bottom: 10px;
  border-radius: 5%;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.10) ;
  background-color: white;
  @media (max-width: $screen-tablet) {
    position: static;
    width: 502px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: $screen-phone){
    width: 300px;

  }
  &__title{
    padding: 20px 20px 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  &__list{
    @media (max-width: $screen-tablet){
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item{
    flex-basis: 30%;
    font-size: 13px;
    &:hover{
      background-color: $background-color;
    }
    &:hover .checkbox{
      box-shadow: inset 0 0 8px 0 rgba(33,150,243, 0.20);
    }
    @media  (max-width: $screen-tablet)  {
      &:hover{
        background:none;
      }
    }
    @media  (max-width: $screen-phone)  {
      flex-basis: 50%;
    }
  }
  &__label{
    padding: 10px 0 10px 20px;
    margin-left: 2em ;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @media  (max-width: $screen-tablet)  {
      &:hover{
        background:none;
      }
    }
  }
  &__input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    &:active, &:hover, &:focus {
      outline: 0;
      outline-offset: 0;
    }
    &:checked + span {
      border: 1px solid $checked-color;
    }
    &:checked + span .filters__unchecked{
      display: block;
    }
  }
  &__checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    margin-left: -2em ;
    background-color: white;
    border-radius: 2px;
    border: 1px solid $unchecked-color;
  }
  &__unchecked{
    display: none;
  }
}
